#displays weather for chicago, IL can be changed to other city
alias weather='curl wttr.in/chicago'

#get Ether price
alias eth='curl -sSL https://etherscan.io/chart/etherprice?output=csv | tail -n 1 | sed "s|^.*;|$|" | sed "s|\(\.[0-9]$\)|\10|"' 

#get bitcoin price
alias btc='curl -sSL https://coinbase.com/api/v1/prices/historical | head -n 1 | sed "s|^.*,|$|" | sed "s|\(\.[0-9]$\)|\10|"'

#copy shrug guy to clipboard
alias shrug="echo '¯\_(ツ)_/¯' | pbcopy"

#watch starwars
alias starwars="telnet towel.blinkenlights.nl"

#navigation aliases
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

#remove with ease
alias remove="yes | rm -r"

#move with prompt
alias mv="mv -v"

#git stuff
alias push="git push"
alias co="git checkout"
alias undopush="git push -f origin HEAD^:master"

#networking
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

#Random
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"
alias g="git"
alias v="vim"
alias emptytrash=" \
    sudo rm -rfv /Volumes/*/.Trashes; \
    rm -rfv ~/.Trash/*; \
    sudo rm -v /private/var/vm/sleepimage; \
    rm -rv \"/Users/paulirish/Library/Application Support/stremio/Cache\";  \
    rm -rv \"/Users/paulirish/Library/Application Support/stremio/stremio-cache\" \
"

#good morning script
alias morning=" cd
  emptytrash
  brew update
  cleanup_dsstore
  weather
"